.container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
  background-color: #fff;
  margin-bottom: 12px;
  padding: 12px 10px 12px 10px;
  border-radius: 4px;
  color: #3a3a3a;

  &:hover .deleteBtn {
    opacity: 1;
  }

  p {
    width: 254px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.deleteBtn {
  margin-right: 5px;
  position: relative;
  opacity: 0;
  transition: all ease 0.3s;
  cursor: pointer;

  div {
    width: 1.71px;
    height: 12px;
    border-radius: 1px;
  }

  div:nth-child(1) {
    transform: rotate(-45deg);
    background: #f4c5cb;
  }

  div:nth-child(2) {
    transform: rotate(45deg);
    background: #f4c5cb;
    position: absolute;
    bottom: 0;
  }
}

.todo {
  border: 1px solid #f3e1df;
}

.doing {
  border: 1px solid #eae2cf;
}

.done {
  border: 1px solid #ddeed9;
  text-decoration: line-through;
}

.updateInput {
  font-size: 12px;
  width: 254px;
  height: 40px;
  outline: none;
}