.doneContainer {
  text-decoration: line-through;
}

.container {
  background-color: #fff;
  margin-bottom: 12px;
  padding: 12px 10px 12px 10px;
  border-radius: 4px;
  border: 1px solid #f3e1df;
  color: #3a3a3a;

  p {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }
}

