.container {
  .heading {
    display: flex;
    justify-content: space-between;
  }

  .todo {
    background-color: #fef4f3;
    width: 340px;
    height: 700px;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;

    p:nth-child(1) {
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #6e1e29;
    }

    p:nth-child(2) {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      color: #d4afb4;
    }
  }

  .doing {
    background: #fffbf2;
    width: 340px;
    height: 700px;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;

    p:nth-child(1) {
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #6e1e29;
    }

    p:nth-child(2) {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      color: #d4afb4;
    }
  }

  .done {
    width: 340px;
    height: 700px;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    background: #f4f9f3;

    p:nth-child(1) {
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #6e1e29;
    }

    p:nth-child(2) {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      color: #d4afb4;
    }
  }
}
