.container {
  width: 768px;
  height: 116px;
  color: #3a3a3a;
  margin-bottom: 46px;

  .heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
  }

  .paragraphs {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
}
