.container {
    width: 768px;
    height: 116px;
    color:#3A3A3A;
    margin-bottom: 46px;
}

.container .heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left; 
    margin-bottom: 15px;
}

.container .paragraphs {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;  
}